DATABASE_URL=tu_url_de_base_de_datos_en_linea
PORT=tu_puerto
JWT_SECRET=tu_clave_secreta_para_jwt
DEEPSEEK_API_KEY=tu_clave_de_api_de_deepseek
GEMINI_API_KEY=tu_clave_de_api_de_gemini
AI_PROVIDER=el_tipo_de_servicio_ia
MAIL_USER=tu_usuario_de_correo
MAIL_PASS=tu_contraseña_de_correo
MAIL_FROM=tu_direccion_de_correo