
# Nexus API
nexus-api/.env
nexus-api/.env.local
nexus-api/.env.development
nexus-api/.env.test
nexus-api/.env.production
nexus-api/node_modules
nexus-api/prisma/*
nexus-api/src/generated

# Nexus Web
nexus-app/node_modules
nexus-app/.next
nexus-app/.env.local.example
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache
.next
out
.vercel